<div class= "d-flex justify-content-center">
  <div class="sign-up">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <h2><%= t('.sign_up') %></h2>
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name",  placeholder: '例 ）蓼丸 綾', id: 'name-form', class: "form-control mr-3"  %>
          <% if f.object.errors[:name].any? %>
            <div class="alert alert-danger" role="alert">
              <%= f.object.errors.full_messages_for(:name).join(", ") %>
            </div>
          <% end %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: '例 ）test@example.com', id: 'email-form', class: "form-control mr-3"  %>
        <% if f.object.errors[:email].any? %>
          <div class="alert alert-danger" role="alert">
            <%= f.object.errors.full_messages_for(:email).join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :パスワードを入力してください %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'password(6字以上)', id: 'password-form', class: "form-control mr-3"  %>
        <% if f.object.errors[:password].any? %>
          <div class="alert alert-danger" role="alert">
            <%= f.object.errors.full_messages_for(:password).join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, placeholder: 'password(確認用)', id: 'password-form', class: "form-control mr-3"  %>
      </div>

      <div class="actions">
        <%= f.submit t('.sign_up'), class: 'btn btn-success' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>