<div class= "d-flex justify-content-center">

  <%= form_with(model: @food_stock) do |form| %>
    <% if @food_stock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@food_stock.errors.count, "error") %> prohibited this food_stock from being saved:</h2>

        <ul>
          <% @food_stock.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



    <div class="field">
      <h2>食品データの編集</h2>
      <%= form.label :賞味期限 %>
      <%= form.date_field :use_up_on, class: "form-control mr-3" %>
    </div>

    <div class="field">
      <%= form.label :価格 %>
      <%= form.number_field :price, class: "form-control mr-3" %>
    </div>

    <div class="field">
      <%= form.label :消費の有無 %>
      <%= form.check_box :consumption %>
    </div>

    <div class="field">
      <%= form.label :備考欄 %>
      <%= form.text_field :notes, class: "form-control mr-3"  %>
    </div>

    <div class="actions">
      <%= form.submit "更新", class: 'btn btn-success' %>
      <%= link_to '冷蔵庫に戻る', food_stocks_path, class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>