<h1>Food Stocks</h1>

<table>
  <thead>
    <tr>
      <th>賞味期限</th>
      <th>価格</th>
      <th>消費の有無</th>
      <th>備考欄</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_stocks.each do |food_stock| %>
      <tr>
        <td><%= food_stock.use_up_on %></td>
        <td><%= food_stock.price %></td>
        <td><%= food_stock.consumption %></td>
        <td><%= food_stock.notes %></td>
        <td><%= link_to 'Show', food_stock %></td>
        <td><%= link_to 'Edit', edit_food_stock_path(food_stock) %></td>
        <td><%= link_to 'Destroy', food_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Stock', new_food_stock_path %>
