<h1>Food Stocks</h1>

<table>
  <thead>
    <tr>
      <th>食品カテゴリ</th>
      <th>食品名</th>
      <th>賞味期限</th>
      <th>価格</th>
      <th>消費の有無</th>
      <th>備考欄</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_stocks.each do |food_stock| %>
      <tr>
        <td><%= food_stock.food.food_category.name %></td>
        <td><%= food_stock.food.name %></td>
        <td><%= food_stock.use_up_on %></td>
        <td><%= "#{food_stock.price}円 "%></td>
        <td><%= food_stock.consumption %></td>
        <td><%= food_stock.notes %></td>
        <td><%= link_to 'Show', food_stock %></td>
        <td><%= link_to 'Edit', edit_food_stock_path(food_stock) %></td>
        <td><%= link_to 'Destroy', food_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(method: :get, url: food_stocks_path) do |form| %>


  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :food_category_id, FoodCategory.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit '絞り込む'%>
  </div>
<% end %>


<%= form_with(model: @food_stock) do |form| %>
  <% if @food_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_stock.errors.count, "error") %> prohibited this food_stock from being saved:</h2>

      <ul>
        <% @food_stock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :food_id, @food_select_lists, :id, :name %>

  <div class="field">
    <%= form.label :use_up_on %>
    <%= form.date_select :use_up_on %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :consumption %>
    <%= form.check_box :consumption %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<br>

<%= link_to 'New Food Stock', new_food_stock_path %>
