<div class= container >
<!--検索ransack--->
<h4><strong>検索フォーム</strong></h4>
<%= search_form_for @q, html: { class: "form-inline" } do |f| %>

<div class="form-group" style="width: 18rem;">
  <%= f.label :food_name_cont, '食品名を入力してください' %>
  <%= f.search_field :food_name_cont, placeholder: '食品名', id: 'food_name-form', class: "form-control mr-3"  %>
</div>

<div class="form-group" style="width: 18rem;">
  <%= f.label :use_up_on_gteq, '賞味期限が選択日付以降' %>
  <%= f.date_field :use_up_on_gteq, class: "form-control mr-3" %>
</div>

<div class="form-group" style="width: 18rem;">
  <%= f.label :price_lteq, '入力価格以下で検索' %>
  <%= f.number_field :price_lteq, placeholder: '価格', id: 'price-form', class: "form-control mr-3"  %>
</div>

<div class="form-group" style="width: 6rem;">
<%= f.label :consumption_eq, '消費済み' %>
<%= f.check_box :consumption_eq, class: "form-control mr-3" %>
</div>

<br>
<div class="search-actions">
  <%= f.submit '検索', class: 'btn btn-primary' %>
</div>
<% end %>

<hr>

<!-- 食品の登録 -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title"><strong>食品の登録</strong></h4>
  </div>
  <div class="card-body">
    <!-- フィルターフォーム -->
    <div class="filter-form mb-4">
      <%= form_with(method: :get, url: food_stocks_path, class: "form-inline") do |form| %>
        <%= form.label :food_category_id, "食品のカテゴリ:" %>
        <%= form.collection_select :food_category_id, FoodCategory.all, :id, :name, { include_blank: "選択してください" }, { class: "form-control mr-3" } %>
        <%= form.submit '絞り込む', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <!-- 食品登録フォーム -->
    <%= form_with(model: @food_stock, url: food_stocks_path, class: "mb-4") do |form| %>
      <% if @food_stock.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@food_stock.errors.count, "error") %> prohibited this food_stock from being saved:</h2>

          <ul>
            <% @food_stock.errors.full_messages.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :food_id, "食品名:" %>
        <%= form.collection_select :food_id, @food_select_lists, :id, :name, { include_blank: "絞り込み後 選択してください" }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :use_up_on, "賞味期限:" %>
        <%= form.date_field :use_up_on, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :price, "価格:" %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">¥</div>
          </div>
          <%= form.number_field :price, placeholder: '価格を入力してください', id: 'price-form', class: "form-control" %>
        </div>
      </div>

      <div class="form-group form-check">
        <%= form.check_box :consumption, class: "form-check-input" %>
        <%= form.label :consumption, "消費の有無:", class: "form-check-label" %>
      </div>

      <div class="form-group">
        <%= form.label :notes, "備考欄:" %>
        <%= form.text_field :notes, placeholder: 'メモがあれば入力', id: 'notes-form', class: "form-control" %>
      </div>

  <div class="form-group text-right">
    <%= form.submit "登録", class: 'btn btn-primary' %>
  </div>
<% end %>

<!--------冷蔵庫食品一覧--------->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">食品カテゴリ</th>
      <th scope="col"><%= sort_link(@q, :food_name, "食品名") %></th>
      <th scope="col"><%= sort_link(@q, :use_up_on, "賞味期限") %></th>
      <th scope="col"><%= sort_link(@q, :price, "価格") %></th>
      <th scope="col"><%= sort_link(@q, :consumption, "消費の有無") %></th>
      <th scope="col"><%= sort_link(@q, :notes, "備考欄") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result_stocks.each do |food_stock| %>

      <tr>
        <td><%= food_stock.food.food_category.name %></td>
        <td><%= food_stock.food.name %></td>
        <td><%= food_stock.use_up_on %></td>
        <td><%= "#{food_stock.price}円 "%></td>
        <td><%= food_stock.consumption ? "消費済み" : "未消費" %></td>
        <td><%= food_stock.notes %></td>
        <td><%= link_to '食品詳細', food_stock, class: "btn btn-outline-primary" %></td>
        <td><%= link_to '食品編集', edit_food_stock_path(food_stock), class: "btn btn-outline-dark" %></td>
        <td><%= link_to '削除', food_stock, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<!--以下追記 カレンダー実装の為-->
<div class="col-md-12">
  <%= month_calendar events: @food_stocks do |date, food_stocks| %>
    <%= date.day %>

    <% food_stocks.each do |food_stock| %>
      <% if food_stock.use_up_on <= @three_days_before %><!--賞味期限から数えて、残り3日の食材は赤く表記される 2/18実装--->
        <div>
          <%= link_to food_stock.food.name, food_stock, style: "color: red" %>
        </div>
      <% else %>
        <div>
          <%= link_to food_stock.food.name, food_stock %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>