<h1>New Food Stock</h1>

<%= form_with(method: :get, url: food_stocks_path) do |form| %>


  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :food_category_id, FoodCategory.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :food %>
    <%= form.collection_select :food_id, Food.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= render 'form', food_stock: @food_stock %>

<%= link_to 'Back', food_stocks_path %>
