
<p>
  <strong>食品カテゴリ:</strong>
  <%= @food_stock.food.food_category.name %>
</p>

<p>
  <strong>食品名:</strong>
  <%= @food_stock.food.name %>
</p>

<p>
  <strong>賞味期限:</strong>
  <%= @food_stock.use_up_on %>
</p>

<p>
  <strong>価格:</strong>
  <%= @food_stock.price %>
</p>

<p>
  <strong>消費の有無:</strong>
  <%= @food_stock.consumption %>
</p>

<p>
  <strong>備考欄:</strong>
  <%= @food_stock.notes %>
</p>

<%= link_to '食品データの編集', edit_food_stock_path(@food_stock) %> |
<%= link_to '冷蔵庫画面に戻る', food_stocks_path %>
