<div class="d-flex justify-content-center">
  <div class="col-md-6">
    <h2>YouTube レシピ検索ページ</h2>
    <% if @youtube_data.present? %>
      <% @youtube_data.items.each do |item| %>
        <div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allowfullscreen></iframe>
          <h3><%= item.snippet.title %></h3>
          <p><%= item.snippet.description %></p>
        </div>
      <% end %>
    <% else %>
      <strong><p>食材または、レシピのキーワードを入力してください！</p></strong>
    <% end %>

    <%= form_tag(youtube_index_path, method: :get) do %>
      <div class="input-group mb-3">
        <%= text_field_tag(:search, nil, placeholder: '例 ）ハンバーグ', class: "form-control") %>
        <button type="submit" class="btn btn-primary"> 検索</button>
      </div>
    <% end %>
  </div>
</div>