<div class= "d-flex justify-content-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h2><%= t('.sign_in') %></h2>
      <%= f.label :メールアドレスを入力してください %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: '例 ）test@example.com', id: 'email-form', class: "form-control mr-3" %>
    </div>

    <div class="field">
      <%= f.label :パスワードを入力してください %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password(6字以上)', id: 'password-form', class: "form-control mr-3" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :ログインを記録する %>
      </div>
    <% end %>

    <div class="login-actions">
      <%= f.submit  "ログイン", class: 'btn btn-success' %>
    </div>


    <div class="forgot">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>