<!DOCTYPE html>
<html>
  <head>
    <title>ウチの冷蔵庫</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon.ico') %>
  </head>


  <body>
    <header>
      <div class="logo">
        <%= link_to(root_path) do %>
        <%= image_tag 'logo.png', size: '150x150' %>
        <% end %>
      </div>

      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "冷蔵庫 食品一覧", food_stocks_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

            <% if current_user.admin? %>
            <li><%= link_to "管理者ページへ", rails_admin_path %></li>
            <% end %>

            <li><%= link_to "Youtubeレシピ検索", youtube_index_path %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
            <li><%= link_to '管理者ゲストログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %></li>
          <% end %>

          <% if current_user.present? %>
            <li><p><%= current_user.name %>さんでログインしています</p></li>
          <% else %>
            <h3>こちらのWEBアプリへお越しいただき、有難うございます!</h3>
          <% end %>

          <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
          <% end %>


    </header>
    <%= yield %>
    <footer>
  <div class="container">
    <p>&copy; 2023 ウチの冷蔵庫 Created by Takuya Sakamoto</p>
  </div>
</footer>
  </body>
</html>
